#invite-body .name {
  font-family: FakePearl;
}

#invite-body .description {
  font-family: FakePearl;
}

@media (min-width:650px) {
  #invite-body {
    max-width: 650px;
  }
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.team-boxed .item .box {
  text-align: center;
  padding: 30px;
  background-color: #fff;
  margin-bottom: 30px;
  border-radius: 15px;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

@media (min-width:1200px) {
  .col-xl-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
}

@media (min-width:992px) {
  .col-lg-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
}

@media (min-width:768px) {
  .col-md-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}

#email-box .img-fluid {
  width: 100%;
}

#bottom-text .description {
  font-size: 18px;
  line-height: 27px;
}

#email-box .img-fluid {
  max-width: 263px;
  padding-left: 5px;
  padding-right: 5px;
}

#email-box {
  margin-bottom: 45px;
}

@media (max-width: 420px) {
  #button p {
    text-align: left;
    color: #616161;
    margin-bottom: 30px;
  }
}

@media (min-width: 420px) {
  #button p {
    text-align: left;
    color: #616161;
    line-height: 50px;
  }
}

#second-button {
  border-radius: 100px;
  width: 206px;
  color: #f08b33;
  background: rgb(255, 255, 255);
  font-family: FakePearl;
  font-size: 14px;
  height: 43px;
  padding: 8px 16px;
  float: left;
  border: 2px solid #f08b33 ;
  margin: 5px auto;
}

#first-button {
  border-radius: 100px;
  width: 160px;
  background: #f08b33;
  color: rgb(255, 255, 255);
  font-family: FakePearl;
  font-size: 14px;
  height: 43px;
  padding: 8px 16px;
  float: left;
  margin: 5px auto;
}

p {
}

#button-2 {
  margin-bottom: 20px;
}

#email-banner .img-fluid {
  width: 100%;
  max-width: 600px;
}

@media (max-width: 767px) {
  #email-box .col-md-6 {
    margin-top: 10px;
  }
}

.lead {
  font-size: 12px;
}

.box {
}

@media (min-width:1200px) {
  .col-xl-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
}

@media (min-width:992px) {
  .offset-lg-1 {
    margin-left: 8.333333%;
  }
}

@media (min-width:992px) {
  .col-lg-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
}

@media (min-width:768px) {
  .col-md-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

